.product-card {
  flex: 0 0 auto;
  width: 230px;
  scroll-snap-align: start;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}