<div class="card shadow-sm">
  <div class="card-body">
    <h4>My Reviews</h4>
    <hr>

    @if(loading){
      <div>Loading...</div>
    }

    @if(!loading && reviews.length === 0){
      <div class="text-muted">
      You have not written any reviews yet.
    </div>
    }

    @for(review of reviews; track $index){
      <div class="mb-3 border-bottom pb-2">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <strong>{{ review.userName }}</strong>
          <span class="text-muted ms-2">{{ review.created | date:'short' }}</span>
          <span class="text-muted ms-2">{{ review.productName }}</span>

           <div class="review-stars d-flex align-items-center">
            @for(star of getStars(); track $index){
              <span>
              <i 
                class="fa"
                [ngClass]="{
                  'fa-star': isStarFilled($index + 1, review.rating) === 'full',
                  'fa-star-half-alt': isStarFilled($index + 1, review.rating) === 'half',
                  'fa-star-o': isStarFilled($index + 1, review.rating) === 'empty'
                }"
              ></i>
            </span>
            }
          <span class="ms-2">{{ review.rating.toFixed(1) }}</span>
        </div>

          <p class="mt-2">{{ review.comment }}</p>
        </div>

        <div class="text-end">
          <button class="btn btn-sm btn-danger" (click)="delete(review)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    }

  </div>
</div>

@if (totalPages > 1) {

  <div class="d-flex justify-content-center align-items-center gap-2 mt-4 flex-wrap">

    <!-- Prev -->
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="changePage(pageNumber - 1)"
      [disabled]="pageNumber === 1">
      <i class="bi bi-chevron-left"></i> Prev
    </button>

    <!-- Pages -->
    @for (_ of [].constructor(totalPages); track $index) {

      <button
        type="button"
        (click)="changePage($index + 1)"
        class="btn"
        [class.btn-primary]="pageNumber === ($index + 1)"
        [class.btn-outline-primary]="pageNumber !== ($index + 1)">

        {{ $index + 1 }}

      </button>

    }

    <!-- Next -->
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="changePage(pageNumber + 1)"
      [disabled]="pageNumber === totalPages">
      Next <i class="bi bi-chevron-right"></i>
    </button>

  </div>

}