@if (basket$ | async; as basket){
  <div class="container">
    <table class="table table-responsive table-hover table-bordered text-center">
  <thead class="table-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Type</th>
      <th scope="col">Brand</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
   @for (item of basket?.items; track $index; let i = $index){
     <tr>
      <th scope="row">{{i + 1}}</th>
      <td><img [src] = "item.pictureUrl" class="Image-thumbnail" style="max-width: 8rem;"></td>
      <td>{{item.productName}}</td>
      <td>{{item.type}}</td>
      <td>{{item.brand}}</td>
      <td>
        <div>
          <button (click)="increaseItenQuantity(item)" class="btn btn-sm btn-success"><span class="fas fa-plus"></span></button>
          {{item.quantity}}
          <button (click)="decreaseItenQuantity(item)" class="btn btn-sm btn-danger"><span class="fas fa-minus"></span></button>
        </div>
      </td>
      <td>{{item.price * item.quantity | number}}</td>
    </tr>
   }
  </tbody>
    </table>
    <app-total-order></app-total-order>
    <a routerLink="/checkout" class="btn btn-danger w-100 mt-5"> Continue Shopping </a>
  </div>
} @else {
  <ng-template>
  <div class="alert alert-success container mb-5" role="alert">
    <p> Yout Basket is Empty</p>
    <hr />
    <p class="mb-0"> Please add frpm Shop</p>
  </div>
</ng-template>
}



