.dark-mode {
  background-color: #121212 !important;
  color: #e4e4e4 !important;
}

.dark-mode .navbar {
  background-color: #222 !important;
}

.dark-mode .sidebar {
  background-color: #1c1c1c !important;
}

.dark-mode .admin-content {
  background-color: #181818 !important;
}

.dark-mode footer {
  background-color: #1c1c1c !important;
}

.dark-mode {
  background-color: #121212 !important;
  color: #dcdcdc !important;
}

.dark-mode .sidebar {
  background-color: #1a1a1a !important;
}

.dark-mode .admin-content {
  background-color: #181818 !important;
}

.dark-mode .navbar {
  background-color: #222 !important;
}