<div class="form-floating mb-2">
  <input
    #input
    [type]="type"
    [ngClass]="controlDir && controlDir?.control && controlDir?.control?.touched && controlDir.control.dirty ? 
                (controlDir.control.invalid ? 'is-invalid' : 'is-valid') : null"
    [disabled]="disabled"
    (input)="onChange($event?.target?.value)"
    (blur)="onTouched()"
    [id]="label"
    class="form-control"
    [placeholder]="placeholder"
  />
  <label [for]="label">{{ label }}</label>
</div>
@if (controlDir && controlDir.control && controlDir.control.invalid && controlDir.control.touched && controlDir.control.dirty) {
    <div class="text-start mt-2 mb 2" >
        @if (controlDir?.control?.getError('required')){
            <span class="text-danger"> Please Enter {{ label }} </span>
        }
        @if (controlDir?.control?.getError('minlength')){
            <span class="text-danger"> Enter {{ label }} Correctly </span>
        }
        @if (controlDir?.control?.getError('maxlength')){
            <span class="text-danger"> Enter {{ label }} Correctly </span>
        }
    </div>
}
